{% extends "base.html" %}
{% block content %}
<div class="row mt-2">
    <div class="col-3">
        <h3>Period Savings</h3>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-10">
          <form method="POST">
            {% csrf_token %}
              <div class="row">
                <div class="col-8">
                  <input type="text" class="form-control" name="search_text" id="search_text" placeholder="First Name...">
                </div>
                <div class="col-4">
                  <button class="btn btn-info">Search</button>
                </div>
              </div>
          </form>
        </div>
        <div class="col-2">
          <form method="POST">
            {% csrf_token %}
            <input type="text" id="download_savings" name="download_savings" value="download_savings" hidden>
            <button type="submit" class="btn btn-success"><i class="bi bi-download"></i></button>
          </form>
        </div>
      </div>
      
      
    </div>
    <div class="col-3">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newSavingsPeriodModal">New Saving Period</button>
    </div>
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Member</th>
              <th scope="col">Start Date</th>
              <th scope="col">Amount Saved</th>
              <th scope="col">Final Date</th>
              <th scope="col">Paid Out</th>
              <th scope="col" colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            {% for saving in page_obj %}
            <tr>
              <td>{{saving.id}}</td>
              <td>{{saving.member}}</td>
              <td>{{saving.start_date}}</td>
              <td>{{saving.amount_saved}}</td>
              <td>{{saving.end_date}}</td>
              <td>{% if saving.redeemed %} Yes {% else %} No {% endif %}</td>
              <td>
                <a href="{% url 'savings-details' saving.id %}" class="btn btn-info btn-sm">
                  <i class="bi bi-eye-fill"></i></a>
              </td>
              <td>
                {% if saving.redeemed %}
                {% else %}
                <button data-bs-toggle="modal" data-bs-target="#savingsPayoutModal{{ saving.id }}" class="btn btn-primary btn-sm">Payout</button>
                {% endif %}
              </td>
              {% include "payments/savings/savings_periods/savings_payout.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}