<div class="modal fade" id="newSavingsRecordModal{{saving.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Add New Savings Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'member-savings-as-paid' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
              
                      <input
                        type="number"
                        class="form-control"
                        id="savings_id"
                        name="savings_id"
                        value="{{saving.id}}"
                        hidden
                        readonly
                        required
                      />
                   
                <div class="mb-3">
                    <label for="Amount Saved" class="form-label">Amount Saved</label>
                    <input
                        type="number"
                        class="form-control"
                        id="amount"
                        name="amount"
                        required
                      />
                </div>
                <div class="mb-3">
                    <label for="Amount Saved" class="form-label">Amount Fined</label>
                    <input
                        type="number"
                        class="form-control"
                        id="fine"
                        name="fine"
                        required
                      />
                </div>
                      
            
                  
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>