{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Member Savings</h3>
    </div>
</div>
<hr/>
      <div class="table-responsive small">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Member</th>
              <th scope="col">Chama Round</th>
              <th scope="col">Amount Expected</th>
              <th scope="col">Amount Saved</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for saving in page_obj %}
            <tr>
              <td>{{saving.id}}</td>
              <td>{{saving.member}}</td>
              <td>{{saving.merigoround}} - {{saving.savings_round}}</td>
              <td>{{saving.amount_expected}}</td>
              <td>{{saving.amount_saved}}</td>
              <td><b>{{saving.payment_status}}</b></td>
              <td>
                {% if saving.payment_status == "Paid" %}
                <a href="{% url 'member-savings-as-cancelled' saving.id %}" class="btn btn-danger btn-sm">Cancel saving</a>
                {% elif saving.payment_status == "Pending" %}
                <a data-bs-toggle="modal" data-bs-target="#newSavingsRecordModal{{ saving.id }}" class="btn btn-success btn-sm">Paid</a>
                <a href="{% url 'member-savings-as-defaulted' saving.id %}" class="btn btn-warning btn-sm">Default</a>
                {% elif saving.payment_status == "Defaulted" or saving.payment_status == "Cancelled" %}
                <a href="{% url 'member-savings-as-reset' saving.id %}" class="btn btn-info btn-sm">Reset saving</a>
                {% endif %}
              </td>
              {% include "payments/savings/record_savings.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
{% endblock content %}