{% extends "base.html" %}

{% block content %}
<div class="card mt-2 mb-2">
  <div class="card-header bg-primary text-white">
    <h4>Savings Details</h4>
</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><b>Member:</b> {{grouped_saving.member}}</p>
          <p><b>Amount Saved:</b> {{grouped_saving.amount_saved}}</p>
      </div>
      <div class="col-md-6">
          <p><b>Start Date:</b> {{grouped_saving.start_date}}</p>
          <p><b>End Date:</b> {{grouped_saving.end_date}}</p>
      </div>
      </div>
    </div>
</div>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <h4>Savings Records</h4>
</div>
    <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Chama Round</th>
              <th scope="col">Date</th>
              <th scope="col">Expected</th>
              <th scope="col">Saved</th>
              <th scope="col">Fine</th>
              <th scope="col">Status</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for saving in page_obj %}
            <tr>
              <td>{{saving.id}}</td>
              <td>{{saving.merigoround}}-{{saving.merigoround.chama_round}}</td>
              <td>{{saving.merigoround.round_date}}</td>
              <td>{{saving.amount_expected}}</td>
              <td>{{saving.amount_saved}}</td>
              <td>{{saving.amount_fined}}</td>
              <td>{{saving.payment_status}}</td>
              <td>
                <a class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
              </td>
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
</div>
{% endblock content %}