<div class="modal fade" id="newFineDisputeModal{{fine.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Dispute Fine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'dispute-fine' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Are you sure to dispute <b>{{fine.member}}</b>'s fine for <b>{{fine.merigoround}}</b>'s round?</b></p>
                </div>
                <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="fine"
                      name="fine"
                      value="{{fine.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-danger">Yes, Dispute</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>