<div class="modal fade" id="declineLoanModal{{loan.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">Decline Loan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'decline-loan' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                <div class="mb-2">
                    <p>Are you sure to decline a loan of <b>{{loan.amount_applied}}</b> to <b>{{loan.member.first_name}} {{loan.member.last_name}}</b>?</p>
                </div>
                <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="loan_id"
                      name="loan_id"
                      value="{{loan.id}}"
                      readonly
                      hidden
                      required
                    />
                  </div>
                 
                <div class="text-center mt-2">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, Close</button>
                    <button type="submit" class="btn btn-info">Yes, Decline</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>