{% extends "base.html" %}

{% block content %}
<div class="card mt-2 mb-2">
  <div class="card-header bg-primary text-white">
    <h4>Loan Details</h4>
</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><b>Member:</b> {{loan.member}}</p>
          <p><b>Amount Applied:</b> {{loan.amount_applied}}</p>
          <p><b>Amount Awarded:</b> {{loan.amount_awarded}}</p>
          <p><b>Repay Amount:</b> {{loan.amount_to_repay}}</p>
      </div>
      <div class="col-md-6">
          <p><b>Interest Rate:</b> 16%</p>
          <p><b>Interest Amount:</b> {{loan.loan_interest}}</p>
          <p><b>Date Due:</b> {{loan.date_due}}</p>
          <p><b>Amount Repaid:</b> {{loan.amount_repaid}}</p>
      </div>
      </div>
    </div>
</div>
<div class="card">
  <div class="card-header bg-secondary text-white">
    <h4>Loan Repayment Records</h4>
</div>
    <div class="card-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Member</th>
              <th scope="col">Total Loan</th>
              <th scope="col">Amount Paid</th>
              <th scope="col">Loan Balance</th>
              <th scope="col">Date Paid</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for payment in loan_payments %}
            <tr>
              <td>{{payment.id}}</td>
              <td>{{payment.member}}</td>
              <td>{{payment.loan.amount_to_repay}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.balance}}</td>
              <td>{{payment.created.date}}</td>
              <td>
                <a class="btn btn-info btn-sm"><i class="bi bi-eye"></i></a>
              </td>

              {% include "loans/approve_loan.html" %}
              {% include "loans/decline_loan.html" %}
              {% include "payments/loan_payments/pay_loan.html" %}
            </tr>
            {% endfor %}

          </tbody>
        </table>
        <div>
          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}   
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              <a class="page-link" href="#">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
              {% if page_obj.has_next %}    
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}   
            </ul>
          </nav>
        </div>
      </div>
</div>
{% endblock content %}