<div class="modal fade" id="newLoanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center">New Loan</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
            <form action="{% url 'new-loan' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <select name="member_id" id="member_id" class="form-select">
                            {% for member in members %}
                                <option value="{{ member.id }}">{{ member.first_name }} {{member.last_name}}</option>
                            {% endfor %}
                          </select>
                    </div>
                     
                      <div class="mb-3">
                        <label for="Amount Saved" class="form-label">Amount Applying</label>
                        <input
                            type="number"
                            class="form-control"
                            id="amount_applied"
                            name="amount_applied"
                            required
                          />
                    </div>

                <div class="mb-3">
                    <label for="Amount Saved" class="form-label">Date Due</label>
                    <input
                        type="date"
                        class="form-control"
                        id="date_due"
                        name="date_due"
                        required
                      />
                </div>
                      
                <div class="text-center mt-2">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              </form>
      </div>
    </div>
  </div>